*,::before,::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
/* ### Primary */

--Purple50: hsl(260, 100%, 95%);
--Purple300: hsl(264, 82%, 80%);
--Purple500: hsl(263, 55%, 52%);

/* ### Neutral */
--White: hsl(0, 0%, 100%);
--Grey100: hsl(214, 17%, 92%);
--Grey200: hsl(0, 0%, 81%);
--Grey400: hsl(224, 10%, 45%);
--Grey500: hsl(217, 19%, 35%);
--Darkblue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);

--font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    margin:0;
    font-family: var(--font-family);
    /* background-color: var(--Grey200); */
    background-color: whitesmoke;
    /* max-height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 100vh;
}

main {
    padding-block:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 100%;
    /* width: 60%; */
    max-width: 35px;
}
img + div {
    margin-left:1.5rem;
}
article {
    padding:3rem;
    background-color: var(--Purple500);
    border-radius: 1vw;
    box-shadow: 10px 20px 10px 10px hsl(224, 10%, 45%,0.1);
}

h2 {
    font-size: 2.4rem;
}

h3,h4 {
    font-weight: 400;
     margin:0;
}

h3,p {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    padding-left:0rem;
    text-align: left;
}

.container {
    width:90%;
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* grid-auto-columns: minmax(10px,auto); */
}

.container__person {
    display: flex;
    align-items: center;
}

/* custom styling */

.first-item {
    background-color: var(--Purple500);
    color:var(--Grey100);
}

.second-item {
    background-color: var(--Grey500);
    color:var(--Grey100);
}

.fourth-item {
    background-color: var(--Darkblue);
    color:var(--Grey100);
}

.third-item, .fifth-item {
    background-color: var(--White);
    color:var(--Darkblue);
}



@media (min-width:1000px){

.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.first-item {
    grid-column: 1/span 2;
}

.third-item {
    grid-row:2;
}

.fourth-item {
    grid-column: 2/span 2;
}

.fifth-item {
    grid-column: 4;
    grid-row: 1/span 2;
}

}